@model AkhilD_301057929.Models.Faculty

    <br /><p>
            <label asp-for="firstName">First Name: </label><br />
            <input asp-for="firstName" />
        </p>
        <p>
            <label asp-for="lastName">Last Name: </label><br />
            <input asp-for="lastName" />
        </p>
        <p>
            <label asp-for="department">Department: </label><br />
            <input asp-for="department" />
        </p>
        <p>
            <label asp-for="email">Email: </label><br />
            <input asp-for="email" />
        </p>
        <p>
            <label asp-for="ext">EXT: </label><br />
            <input asp-for="ext" />
        </p><br />
       