@model AkhilD_301057929.Models.AssignFaculty




<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AssignFaculty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Faculty.facultyId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.courseCode)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="classId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
